Data is directly taken from the FuelEconomy.gov from U.S. Department of Energy.

Questions to be explored?

* Which manufacturer produces the most fuel efficient fleet of cars (type_1 & type_2)?

* Build a model to predict city mpg (variable “UCity” in column BG).

# 1. Exploratory Data Analysis

--> Understand each features and how they are related to our target problems

--> Basic visualization of raw data

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, explained_variance_score, mean_absolute_error, mean_squared_error
import seaborn as sns

In [2]:
vehicles = pd.read_csv('vehicles.csv')

C:\Users\yijia\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (73,74,76) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
vehicles.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

## 1.1 Feature interpretation

In [4]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40081 entries, 0 to 40080
Data columns (total 83 columns):
barrels08          40081 non-null float64
barrelsA08         40081 non-null float64
charge120          40081 non-null float64
charge240          40081 non-null float64
city08             40081 non-null int64
city08U            40081 non-null float64
cityA08            40081 non-null int64
cityA08U           40081 non-null float64
cityCD             40081 non-null float64
cityE              40081 non-null float64
cityUF             40081 non-null float64
co2                40081 non-null int64
co2A               40081 non-null int64
co2TailpipeAGpm    40081 non-null float64
co2TailpipeGpm     40081 non-null float64
comb08             40081 non-null int64
comb08U            40081 non-null float64
combA08            40081 non-null int64
combA08U           40081 non-null float64
combE              40081 non-null float64
combinedCD         40081 non-null float64
combinedUF         40081 non-null float64
cylinders          39910 non-null float64
displ              39912 non-null float64
drive              38892 non-null object
engId              40081 non-null int64
eng_dscr           24182 non-null object
feScore            40081 non-null int64
fuelCost08         40081 non-null int64
fuelCostA08        40081 non-null int64
fuelType           40081 non-null object
fuelType1          40081 non-null object
ghgScore           40081 non-null int64
ghgScoreA          40081 non-null int64
highway08          40081 non-null int64
highway08U         40081 non-null float64
highwayA08         40081 non-null int64
highwayA08U        40081 non-null float64
highwayCD          40081 non-null float64
highwayE           40081 non-null float64
highwayUF          40081 non-null float64
hlv                40081 non-null int64
hpv                40081 non-null int64
id                 40081 non-null int64
lv2                40081 non-null int64
lv4                40081 non-null int64
make               40081 non-null object
model              40081 non-null object
mpgData            40081 non-null object
phevBlended        40081 non-null bool
pv2                40081 non-null int64
pv4                40081 non-null int64
range              40081 non-null int64
rangeCity          40081 non-null float64
rangeCityA         40081 non-null float64
rangeHwy           40081 non-null float64
rangeHwyA          40081 non-null float64
trany              40070 non-null object
UCity              40081 non-null float64
UCityA             40081 non-null float64
UHighway           40081 non-null float64
UHighwayA          40081 non-null float64
VClass             40081 non-null object
year               40081 non-null int64
youSaveSpend       40081 non-null int64
guzzler            2377 non-null object
trans_dscr         15047 non-null object
tCharger           6302 non-null object
sCharger           796 non-null object
atvType            3374 non-null object
fuelType2          1547 non-null object
rangeA             1542 non-null object
evMotor            736 non-null object
mfrCode            9263 non-null object
c240Dscr           65 non-null object
charge240b         40081 non-null float64
c240bDscr          63 non-null object
createdOn          40081 non-null object
modifiedOn         40081 non-null object
startStop          8377 non-null object
phevCity           40081 non-null int64
phevHwy            40081 non-null int64
phevComb           40081 non-null int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 25.1+ MB

* A brief description of each feature is listed in the following. The detailed information can be accessed with https://www.fueleconomy.gov/feg/ws/index.shtml#vehicle
* barrels08 - annual petroleum consumption in barrels for fuelType1 (1)
* barrelsA08 - annual petroleum consumption in barrels for fuelType2 (1)
* charge120 - time to charge an electric vehicle in hours at 120 V
* charge240 - time to charge an electric vehicle in hours at 240 V
* city08 - city MPG for fuelType1 (2), (11)
* city08U - unrounded city MPG for fuelType1 (2), (3)
* cityA08 - city MPG for fuelType2 (2)
* cityA08U - unrounded city MPG for fuelType2 (2), (3)
* cityCD - city gasoline consumption (gallons/100 miles) in charge depleting mode (4)
* cityE - city electricity consumption in kw-hrs/100 miles
* cityUF - EPA city utility factor (share of electricity) for PHEV
* co2 - tailpipe CO2 in grams/mile for fuelType1 (5)
* co2A - tailpipe CO2 in grams/mile for fuelType2 (5)
* co2TailpipeAGpm - tailpipe CO2 in grams/mile for fuelType2 (5)
* co2TailpipeGpm- tailpipe CO2 in grams/mile for fuelType1 (5)
* comb08 - combined MPG for fuelType1 (2), (11)
* comb08U - unrounded combined MPG for fuelType1 (2), (3)
* combA08 - combined MPG for fuelType2 (2)
* combA08U - unrounded combined MPG for fuelType2 (2), (3)
* combE - combined electricity consumption in kw-hrs/100 miles
* combinedCD - combined gasoline consumption (gallons/100 miles) in charge depleting mode (4)
* combinedUF - EPA combined utility factor (share of electricity) for PHEV
* cylinders - engine cylinders
* displ - engine displacement in liters
* drive - drive axle type
* emissionsList
* engId - EPA model type index
* eng_dscr - engine descriptor; see http://www.fueleconomy.gov/feg/findacarhelp.shtml#engine
* evMotor - electric motor (kw-hrs)
* feScore - EPA Fuel Economy Score (-1 = Not available)
* fuelCost08 - annual fuel cost for fuelType1 ($) (7)
* fuelCostA08 - annual fuel cost for fuelType2 ($) (7)
* fuelType - fuel type with fuelType1 and fuelType2 (if applicable)
* fuelType1 - fuel type 1. For single fuel vehicles, this will be the only fuel. For dual fuel vehicles, this will be the conventional fuel.
* fuelType2 - fuel type 2. For dual fuel vehicles, this will be the alternative fuel (e.g. E85, Electricity, CNG, LPG). For single fuel vehicles, this field is not used
* ghgScore - EPA GHG score (-1 = Not available)
* ghgScoreA - EPA GHG score for dual fuel vehicle running on the alternative fuel (-1 = Not available)
* guzzler- if G or T, this vehicle is subject to the gas guzzler tax
* highway08 - highway MPG for fuelType1 (2), (11)
* highway08U - unrounded highway MPG for fuelType1 (2), (3)
* highwayA08 - highway MPG for fuelType2 (2)
* highwayA08U - unrounded highway MPG for fuelType2 (2),(3)
* highwayCD - highway gasoline consumption (gallons/100miles) in charge depleting mode (4)
* highwayE - highway electricity consumption in kw-hrs/100 miles
* highwayUF - EPA highway utility factor (share of electricity) for PHEV
* hlv - hatchback luggage volume (cubic feet) (8)
* hpv - hatchback passenger volume (cubic feet) (8)
* id - vehicle record id
* lv2 - 2 door luggage volume (cubic feet) (8)
* lv4 - 4 door luggage volume (cubic feet) (8)
* make - manufacturer (division)
* mfrCode - 3-character manufacturer code
* model - model name (carline)
* mpgData - has My MPG data; see yourMpgVehicle and yourMpgDriverVehicle
* phevBlended - if true, this vehicle operates on a blend of gasoline and electricity in charge depleting mode
* pv2 - 2-door passenger volume (cubic feet) (8)
* pv4 - 4-door passenger volume (cubic feet) (8)
* rangeA - EPA range for fuelType2
* rangeCityA - EPA city range for fuelType2
* rangeHwyA - EPA highway range for fuelType2
* trans_dscr - transmission descriptor; see http://www.fueleconomy.gov/feg/findacarhelp.shtml#trany
* trany - transmission
* UCity - unadjusted city MPG for fuelType1; see the description of the EPA test procedures
* UCityA - unadjusted city MPG for fuelType2; see the description of the EPA test procedures
* UHighway - unadjusted highway MPG for fuelType1; see the description of the EPA test procedures
* UHighwayA - unadjusted highway MPG for fuelType2; see the description of the EPA test procedures
* VClass - EPA vehicle size class
* year - model year
* youSaveSpend - you save/spend over 5 years compared to an average car ($). Savings are positive; a greater amount spent yields a negative number. For dual fuel vehicles, this is the cost savings for gasoline
* sCharger - if S, this vehicle is supercharged
* tCharger - if T, this vehicle is turbocharged
* c240Dscr - electric vehicle charger description
* charge240b - time to charge an electric vehicle in hours at 240 V using the alternate charger
* c240bDscr - electric vehicle alternate charger description
* createdOn - date the vehicle record was created (ISO 8601 format)
* modifiedOn - date the vehicle record was last modified (ISO 8601 format)
* startStop - vehicle has start-stop technology (Y, N, or blank for older vehicles)
* phevCity - EPA composite gasoline-electricity city MPGe for plug-in hybrid vehicles
* phevHwy - EPA composite gasoline-electricity highway MPGe for plug-in hybrid vehicles
* phevComb - EPA composite gasoline-electricity combined city-highway MPGe for plug-in hybrid vehicles

## 1.2 Vehicle analysis

In [5]:
vehicles.make.unique()

array(['Alfa Romeo', 'Ferrari', 'Dodge', 'Subaru', 'Toyota', 'Volkswagen',
       'Volvo', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'CX Automotive', 'Nissan', 'Ford', 'Hyundai',
       'Infiniti', 'Lexus', 'Mercury', 'Mazda', 'Oldsmobile', 'Plymouth',
       'Pontiac', 'Rolls-Royce', 'Eagle', 'Lincoln', 'Mercedes-Benz',
       'GMC', 'Saab', 'Honda', 'Saturn', 'Mitsubishi', 'Isuzu', 'Jeep',
       'AM General', 'Geo', 'Suzuki', 'E. P. Dutton, Inc.', 'Land Rover',
       'PAS, Inc', 'Acura', 'Jaguar', 'Lotus', 'Grumman Olson', 'Porsche',
       'American Motors Corporation', 'Kia', 'Lamborghini',
       'Panoz Auto-Development', 'Maserati', 'Saleen', 'Aston Martin',
       'Dabryan Coach Builders Inc', 'Federal Coach', 'Vector', 'Bentley',
       'Daewoo', 'Qvale', 'Roush Performance', 'Autokraft Limited',
       'Bertone', 'Panther Car Company Limited', 'Texas Coach Company',
       'TVR Engineering Ltd', 'Morgan', 'MINI', 'Yugo', 'BMW Alpina',
       'Renault', 'Bitter Gmbh and Co. Kg', 'Scion', 'Maybach',
       'Lambda Control Systems', 'Merkur', 'Peugeot', 'Spyker',
       'London Coach Co Inc', 'Hummer', 'Bugatti', 'Pininfarina',
       'Shelby', 'Saleen Performance', 'smart', 'Tecstar, LP',
       'Kenyon Corporation Of America', 'Avanti Motor Corporation',
       'Bill Dovell Motor Car Company', 'Import Foreign Auto Sales Inc',
       'S and S Coach Company  E.p. Dutton',
       'Superior Coaches Div E.p. Dutton', 'Vixen Motor Company',
       'Volga Associated Automobile', 'Wallace Environmental',
       'Import Trade Services', 'J.K. Motors', 'Panos',
       'Quantum Technologies', 'London Taxi', 'Red Shift Ltd.',
       'Ruf Automobile Gmbh', 'Excalibur Autos', 'Mahindra', 'VPG',
       'Fiat', 'Sterling', 'Azure Dynamics', 'McLaren Automotive', 'Ram',
       'CODA Automotive', 'Fisker', 'Tesla', 'Mcevoy Motors', 'BYD',
       'ASC Incorporated', 'SRT', 'CCC Engineering',
       'Mobility Ventures LLC', 'Pagani', 'Genesis', 'Karma',
       'Koenigsegg', 'Aurora Cars Ltd', 'Dacia', 'Daihatsu',
       'JBA Motorcars, Inc.', 'Grumman Allied Industries',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Laforza Automobile Inc', 'General Motors',
       'Consulier Industries Inc', 'Goldacre', 'Isis Imports Ltd',
       'PAS Inc - GMC'], dtype=object)

In [6]:
print(vehicles.make.value_counts().head(10))
print(vehicles.make.value_counts().tail(10))

Chevrolet        3944
Ford             3284
Dodge            2559
GMC              2471
Toyota           2010
BMW              1856
Mercedes-Benz    1444
Nissan           1424
Volkswagen       1155
Mitsubishi       1052
Name: make, dtype: int64
Koenigsegg                            1
Volga Associated Automobile           1
Import Foreign Auto Sales Inc         1
S and S Coach Company  E.p. Dutton    1
Vixen Motor Company                   1
Panos                                 1
Fisker                                1
Panoz Auto-Development                1
Isis Imports Ltd                      1
General Motors                        1
Name: make, dtype: int64

In [9]:
vehicles.fuelType.value_counts()

Regular                        25997
Premium                        11067
Gasoline or E85                 1287
Diesel                          1142
Electricity                      168
Premium or E85                   125
Midgrade                         100
CNG                               60
Premium and Electricity           47
Regular Gas and Electricity       29
Premium Gas or Electricity        28
Gasoline or natural gas           20
Gasoline or propane                8
Regular Gas or Electricity         3
Name: fuelType, dtype: int64

In [10]:
vehicles.fuelType1.value_counts()

Regular Gasoline     27344
Premium Gasoline     11267
Diesel                1142
Electricity            168
Midgrade Gasoline      100
Natural Gas             60
Name: fuelType1, dtype: int64

In [11]:
vehicles.fuelType2.value_counts()

E85            1412
Electricity     107
Natural Gas      20
Propane           8
Name: fuelType2, dtype: int64

In [12]:
vehicles.fuelType.isnull().sum()

0

In [13]:
vehicles.fuelType1.isnull().sum()

0

In [14]:
vehicles.fuelType2.isnull().sum()

38534

In [15]:
vehicles['fuelType2'].isnull().sum()

38534

In [16]:
vehicles.mpgData.value_counts()

N    27367
Y    12714
Name: mpgData, dtype: int64

## 1.3 Which manufacturer produces the most fuel-efficient fleet of type-1 cars?

In [7]:
max_name_1 = list(vehicles.make[vehicles.comb08 == vehicles.comb08.max()])[0]
max_mpg_1 = vehicles.comb08.max()
print('The maximum mpg is {} for type 1, and the car is manufactured by {}.'.format(max_mpg_1, max_name_1))

The maximum mpg is 136 for type 1, and the car is manufactured by Hyundai.

## 1.4 Which manufacturer produces the most fuel-efficient fleet of type-2 cars?

In [8]:
max_name_2 = list(vehicles.make[vehicles.combA08 == vehicles.combA08.max()])[0]
max_mpg_2 = vehicles.combA08.max()
print('The maximum mpg is {} for type 2, and the car is manufactured by {}.'.format(max_mpg_2, max_name_2))

The maximum mpg is 133 for type 2, and the car is manufactured by Toyota.

# 2. Build a model to predict city mpg (variable “UCity” in column BG)

--> Model with only numeric (float & int) features

--> Model with all features

In [17]:
df = vehicles.copy()

In [18]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

## 2.1 Drop columns with more than half Null values

In [19]:
lis = list(df.columns)
lis_1 =[]
for col in lis:
    #print(col)
    if df[col].isnull().sum() > 20000:
        #print(df[col].isnull().sum() > 20000)
        lis_1.append(col)
    else:
        pass 
print(lis_1)

['guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop']

In [20]:
df_1 = df.drop(columns = lis_1)

In [21]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40081 entries, 0 to 40080
Data columns (total 71 columns):
barrels08          40081 non-null float64
barrelsA08         40081 non-null float64
charge120          40081 non-null float64
charge240          40081 non-null float64
city08             40081 non-null int64
city08U            40081 non-null float64
cityA08            40081 non-null int64
cityA08U           40081 non-null float64
cityCD             40081 non-null float64
cityE              40081 non-null float64
cityUF             40081 non-null float64
co2                40081 non-null int64
co2A               40081 non-null int64
co2TailpipeAGpm    40081 non-null float64
co2TailpipeGpm     40081 non-null float64
comb08             40081 non-null int64
comb08U            40081 non-null float64
combA08            40081 non-null int64
combA08U           40081 non-null float64
combE              40081 non-null float64
combinedCD         40081 non-null float64
combinedUF         40081 non-null float64
cylinders          39910 non-null float64
displ              39912 non-null float64
drive              38892 non-null object
engId              40081 non-null int64
eng_dscr           24182 non-null object
feScore            40081 non-null int64
fuelCost08         40081 non-null int64
fuelCostA08        40081 non-null int64
fuelType           40081 non-null object
fuelType1          40081 non-null object
ghgScore           40081 non-null int64
ghgScoreA          40081 non-null int64
highway08          40081 non-null int64
highway08U         40081 non-null float64
highwayA08         40081 non-null int64
highwayA08U        40081 non-null float64
highwayCD          40081 non-null float64
highwayE           40081 non-null float64
highwayUF          40081 non-null float64
hlv                40081 non-null int64
hpv                40081 non-null int64
id                 40081 non-null int64
lv2                40081 non-null int64
lv4                40081 non-null int64
make               40081 non-null object
model              40081 non-null object
mpgData            40081 non-null object
phevBlended        40081 non-null bool
pv2                40081 non-null int64
pv4                40081 non-null int64
range              40081 non-null int64
rangeCity          40081 non-null float64
rangeCityA         40081 non-null float64
rangeHwy           40081 non-null float64
rangeHwyA          40081 non-null float64
trany              40070 non-null object
UCity              40081 non-null float64
UCityA             40081 non-null float64
UHighway           40081 non-null float64
UHighwayA          40081 non-null float64
VClass             40081 non-null object
year               40081 non-null int64
youSaveSpend       40081 non-null int64
charge240b         40081 non-null float64
createdOn          40081 non-null object
modifiedOn         40081 non-null object
phevCity           40081 non-null int64
phevHwy            40081 non-null int64
phevComb           40081 non-null int64
dtypes: bool(1), float64(32), int64(27), object(11)
memory usage: 21.4+ MB

In [22]:
df_1 = df_1.drop(columns = ['createdOn', 'modifiedOn'], axis =1)

## 2.2 Model based on the numeric data (float and int)

In [52]:
df_3 = df_1.select_dtypes(include=['float64', 'int64'])

In [55]:
# For each numeric variable in X, fill the column with the mean value of the column.
num_vars = df_3.columns
for num_var in num_vars:
    df_3[num_var].fillna((df_3[num_var].mean()), inplace=True)

C:\Users\yijia\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [56]:
y_1 = df_3['UCity']
X_1 = df_3.drop(columns= 'UCity', axis = 1)

In [57]:
from sklearn import svm
regr = svm.SVR()
#Split into train and test
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, test_size = .30, random_state=42) 

regr.fit(X_train_1, y_train_1)

y_pred_1 = regr.predict(X_test_1)

C:\Users\yijia\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [60]:
print('r2_score: '+ str(r2_score(y_test_1, y_pred_1)))
print('explained_variance_score: '+ str(explained_variance_score(y_test_1, y_pred_1)))
print('mean_absolute_error: '+ str(mean_absolute_error(y_test_1, y_pred_1)))
print('mean_squared_error: '+ str(mean_squared_error(y_test_1, y_pred_1)))

r2_score: 0.009908238103526701
explained_variance_score: 0.03476079425642109
mean_absolute_error: 4.833380582896554
mean_squared_error: 102.98815449750074

## 2.3 Model with all features

In [24]:
df_2 = pd.get_dummies(df_1)

In [25]:
df_2.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,VClass_Standard Pickup Trucks 4WD,VClass_Standard Pickup Trucks/2wd,VClass_Standard Sport Utility Vehicle 2WD,VClass_Standard Sport Utility Vehicle 4WD,VClass_Subcompact Cars,VClass_Two Seaters,VClass_Vans,VClass_Vans Passenger,"VClass_Vans, Cargo Type","VClass_Vans, Passenger Type"
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40081 entries, 0 to 40080
Columns: 4806 entries, barrels08 to VClass_Vans, Passenger Type
dtypes: bool(1), float64(32), int64(27), uint8(4746)
memory usage: 199.5 MB

In [28]:
df_2.UCity.describe()

count    40081.000000
mean        22.981798
std         10.473444
min          0.000000
25%         18.110500
50%         21.296500
75%         25.700000
max        224.800000
Name: UCity, dtype: float64

In [29]:
# For each numeric variable in X, fill the column with the mean value of the column.
num_vars = df_2.columns
for num_var in num_vars:
    df_2[num_var].fillna((df_2[num_var].mean()), inplace=True)

In [30]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40081 entries, 0 to 40080
Columns: 4806 entries, barrels08 to VClass_Vans, Passenger Type
dtypes: bool(1), float64(32), int64(27), uint8(4746)
memory usage: 199.5 MB

In [36]:
y = df_2['UCity']
X = df_2.drop(columns= 'UCity', axis = 1)

In [41]:
from sklearn import svm
regr = svm.SVR()
#Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state=42) 

regr.fit(X_train, y_train)

y_pred = regr.predict(X_test)

C:\Users\yijia\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [61]:
print('r2_score: '+ str(r2_score(y_test, y_pred)))
print('explained_variance_score: '+ str(explained_variance_score(y_test, y_pred)))
print('mean_absolute_error: '+ str(mean_absolute_error(y_test, y_pred)))
print('mean_squared_error: '+ str(mean_squared_error(y_test, y_pred)))

r2_score: 0.07540855323972728
explained_variance_score: 0.09786316825549446
mean_absolute_error: 4.099100816478442
mean_squared_error: 96.17489048047585